@import 'tailwindcss';

body {
	background-color: #1a1a1a;
	color: #f0f0f0;
	font-family: 'Arial', sans-serif;
	line-height: 1.6;
	margin: 0;
}

h1,
h2,
h3 {
	color: #ff69b4;
	margin-bottom: 15px;
}

a {
	color: #00ff7f;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.3s ease, color 0.3s ease;
}

input,
textarea {
	width: 100%;
	padding: 6px 10px;
  	border-radius: 5px;
	margin-bottom: 15px;
	border: none;
	border-bottom: 2px solid #ff69b4;
	background-color: #2a2a2a;
	color: #f0f0f0;
	font-size: 16px;
	outline: none;
	transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus,
textarea:focus {
	border-bottom-color: #00ff7f;
}

::placeholder {
	color: #888;
}
